body {
    min-height      : 100vh;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/e89c9679-2f5f-491d-924c-c58924a8ee4b/c69ef026-effa-4b73-93b1-ef209e30fe4d/FR-en-20221121-popsignuptwoweeks-perspective_alpha_website_small.jpg");
}

.mask {
    height: 100vh;
}

button {}