.highlightedMovie {
    height  : 80vh;
    position: relative;
}

.highlightedMovie img {
    position: absolute;
    z-index : -1;
}

.highlightedMovie__infos {
    bottom  : 0;
    position: absolute;
}

.highlightedMovie__infos button {
    width: fit-content;
}