li {
    position: relative;
}

.movie {
    position: relative;
}

.movie__preview {}

.movie__infos {
    z-index    : 2;
    position   : absolute;
    text-shadow: 1px 1px 2px black;
    top        : 0;
    left       : 0;
    right      : 0;
}

.movie__infos button {
    width: fit-content;
}

h4 {
    width: fit-content;
}